@font-face {
    font-family: test;
    src: url('../fonts/Cairo-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: test-2;
    src: url('../fonts/Tajawal-Regular.ttf');
  }
*{margin: 0;padding: 0; }
body{
    background-color:#efeeee;
}
nav{width: 100%;height: 50px;background-color: #272626; position: fixed; z-index: 10000; }
.logo a{
font-family: test-2;
font-size: 30px;
color: white;
padding-left: 10px;
text-decoration: none;
float: left;
font-weight: 500;
line-height: 50px;
}
.logo a span{color: #56be4c;}
.btn-bar a{
    float: right;
    padding: 5px;
    margin-top: 7.5px;
  margin-right: 20px;
    font-size: 14px;
    display: block;
    text-decoration: none;
    /* background-color: #33676e; */
    color: white;
font-family: test-2;

}
.btn-icon{

    font-size: 25px;

}
.btn-icon-set a{
    background-color: none;
}
.btn-bar a:hover{
    background-color: #0d4a53; 
}

.banner{
    float: left;
    width: 100%;
    background-image: url('../imgs/banner-8.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    font-family: test;
    color: rgb(0, 0, 0);
   /* padding: 200px 0; */
   height:75vh;
    font-weight: 600;
}
.text-banner{
    text-align: right;
    /* padding-right:30px; */
    padding-top: 30vh;
    padding-right: 30px;
     
}
.text-banner h1{
    color: #ec6a00;
}
.text-banner h3,h5{color: #3b3a3a; font-family: test-2;}

.text-banner a{
    color: white;
    display: block;
    float: right;
    text-align: center;
  
    background-color: #7e9c9a;
    /* margin-top: 5px; */
    width: 50px;
    text-decoration: none;
    /* border-radius:50%; */
    font-size: 25px;
    /* border-radius: 8px; */

 
}

.banner a:hover{
    background-color: #daaf3a;
}
.content{width: 100%;height: auto; float: left;}
.title-sub{width:100%;height: 100px;
text-align: center; font-size: 25px;font-family: test;line-height: 100px;margin-top: 70px;
color: #88403e;
}
.title-sub hr{
    width: 30%;
    margin: auto;
}
.price-sub{width:100%;height: 405px; display: flex; align-items: center; }
.box-sub{width: 210px;
    height: 260px;
    float: left;
    margin: auto;
    font-family: 'test';
    font-size: 15px;
    text-align: center;
  
    background-color: #ecece7;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    font-weight: 100;
    overflow: hidden;
    box-shadow: 0.4px 0.5px 2px 0.5px black;
    padding-bottom: 5px;
    transition: 0.5s;
}
.box-sub:hover{height: 280px;   background-color: #feffff;}
.box-sub:hover a{display: block;}
.box-sub span{font-size: 19px; color: rgb(90, 116, 19); font-weight: 500; font-family: test; }
.box-sub a{text-decoration: none; color: rgb(30, 3, 102); 
    width: 70px; margin: auto; clear: both;
    display: none;font-family: test-2;
     border-radius: 3px;font-weight: 30; font-size: 15px; }
.box-sub a:hover{border-bottom: 1px solid black; color: red; background-color: rgb(248, 246, 246);}

.web-info{width: 90%;height: auto; margin: auto; margin-top: 170px; 
    position: relative;box-shadow: 0.4px 0.5px 2px 0.5px black;
    background-color: #ecece7;
    padding: 10px; clear:both; }



.img-information{width: 150px;height: 140px;
    text-align: center; overflow: hidden;box-shadow: 0.4px 0.5px 2px 0.5px black;
    background-color: #ffffff;position: absolute; top: -80px; }
.img-information img{width: 90%;}
.content-info{width: 100%; height: auto;font-size: 17px;margin: auto; overflow: hidden;
    padding-top: 20px; padding-bottom: 25px;
    font-weight: 100; padding-right: 10px;text-align: center; font-family: test; transition: 2s ;}

.content-info span{font-size: 30px; color:#8b2019 ;}
.all-btn{ width:100%;height:300px;margin: auto;background-color: rgb(255, 255, 255);
   
    display: flex;
    align-content: center;
    margin: auto;  margin-top: 200px; }
.box-btn{width: 200px; height: 200px ;
    margin: auto;
    font-family: 
    test-2; font-size: 20px;
    text-align: center;
    background-color: #fffffffa;
    border-radius: 8px;
    color: black;
    /* border: 1px solid black; */
    cursor: pointer;}
.box-btn img{width: 40%;}
.box-btn a{text-decoration: none; padding: 5px; color: black; }
.box-btn a:hover{
/* background-color: #1b9110; */
color: blue;

}
.footer{width: 100%;height: 100px; background-color: #393a3a; clear: both; float: left;}
.text-footer{
    width: 300px;
    text-align: center;
    padding: 10px;
    margin: auto;
    font-family: test;
    color: white;
}

/*====================== login page ==================*/
.box-login{
    clear: both; width: 600px; height: 500px;   margin: auto;
    background-color: #ffffff;
    box-shadow: 0.4px 0.5px 2px 0.5px black;
}
.title-login{
    float: right; padding: 15px; font-family: test; font-size: 20px;
}
.box-login form input{
    float: right;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    height: 40px;
    text-align: right;
    margin-right: 40px;
    clear: both;
    border: none;
    background-color: rgb(229, 231, 233);
    outline: none;
    padding-right: 10px;
    font-size: 17px;


    
}
.box-login form label{
    clear: both;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
}
.box-login form input[type="submit"]{
    width: 15%;
    padding: 0;
    text-align: center;
    cursor: pointer;
    background-color: #090d11;
    color: white;
    font-family: test;
    outline: none;
}
.box-login form input[type="submit"]:hover{
    background-color: #13191f; 
}
.end-h{width: 100%;height:50px; clear: both; float: right;text-align: right;padding-right:40px;
    margin-top: 40px; }

.end-h span{font-size: 15px;font-family: test;}
.box-login input:focus{
    outline-style: solid;
outline-color: #414141;
outline-width: thin;
}

/*========================= create page ==============*/
.box-create{    clear: both; width: 600px; height: 500px;   margin: auto; margin-top: 200px;
    background-color: #ffffff;
    box-shadow: 0.4px 0.5px 2px 0.5px black;
}

.title-create{    float: right; padding: 15px; font-family: test; font-size: 20px;}
.box-create label{ float: right;margin-right: 40px; margin-top: 25px;}
.box-create input{  float: right; margin-right: 40px; margin-top: 20px;
height: 40px;width: 230px;
border: none; 
background-color: rgb(229, 231, 233); text-align: right;  padding-right: 5px; 


}
.box-create form input[type='email']{
    width: 85%;
}
.box-create form input[type='password']{
    width: 85%;
}
.box-create form input:focus{
    outline-style: solid;
outline-color: #414141;
outline-width: thin;
}

.box-create form label span{color: red;}
.box-create form input[type="submit"]{
    width: 15%;
    padding: 0;
    text-align: center;
    cursor: pointer;
    background-color: #090d11;
    color: white;
    font-family: test;
    outline: none;
    font-size: 18px;
    clear: both;
    margin-top: 20px;
}
.box-create form input[type="submit"]:hover{
    background-color: #13191f; 
    outline: none;
}
/*====================== page web info ================*/

.content-info-2{ height: auto;font-size: 17px; padding: 40px;
     font-weight: 100; text-align: right; font-family: test;}

.content-info-2 span{font-size: 30px;}

/*======================= page not fond ============ */
.not-fond{
    width: 400px; height: 200px; margin: auto;
    text-align: center;
    background-color: #ffffff;
    line-height: 200px;
    margin-top: 100px;
    font-family: test;
    color: red;

}

/*========================== page call center =========== */
.call-info{width: 80%;height: 190px;background-color: white; clear: both;
margin: auto;
font-family: test;
text-align: center;
line-height: 40px;
padding-top: 50px;

}
.call-data{
    clear: both;
    width: 80%;
    height: 550px;
    background-color: white;
    margin: auto;
    margin-top: 40px;
    text-align: center;
    padding-top: 10px;
}

.call-data span{font-family: test; }
.call-data form label{display: block; margin-top: 20px; float: right;margin-right: 5%;}
.call-data form input{width: 90%; height: 40px;margin-top: 20px;text-align: right;
border: none;
color: #1d1c1c;
background-color: rgb(227, 233, 240);
outline: none;
padding-right: 10px;
font-size: 16px;
}
.call-data form input:focus{
    outline-style: solid;
outline-color: #414141;
outline-width: thin;
}
.call-data form textarea{
    width: 90%;
    margin-top: 15px;
    border: none;
    outline: none;
    background-color: rgb(227, 233, 240);
    text-align: right;
    padding-right: 10px;
    font-size: 16px;
    height: 150px;
    padding-top: 5px;
}
.call-data form textarea:focus{
    outline-style: solid;
outline-color: #414141;
outline-width: thin;
}
.call-data form input[type='submit']{
    padding: 0;
  width:100px ;
    float: right;
    margin-right: 5%;
    text-align: center;
    font-family: test;
    background-color: #090d11;
    color: white;
    cursor: pointer;
}
.call-data form input[type="submit"]:hover{
    background-color: #13191f; 
    outline: none;
}


/*==================== page panel ==================== */

header{
    width: 100%;
    height: 50px;
    background-color: #272626;
}
header .logo a{font-family: test-2;
    font-size: 30px;
    color: white;
    padding-left: 10px;
    text-decoration: none;
    float: left;
    font-weight: 500;
    line-height: 50px;}

.btn-bar ul li{    float: right;
        padding: 5px;
        margin-top: 2.5px;
      margin-right: 20px;
        font-size: 15px;
        display: block;
        list-style: none;
        text-decoration: none;
        /* background-color: #33676e; */
        cursor: pointer;
       color: #eeecec;
  }

  .btn-bar ul li:hover{ color: #f1d9d9;}
    .btn-bar ul li i {font-size: 35px;}
    .all-box-panel{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 100px;
        padding-bottom: 100px;
      
    }
    .all-box-panel .box-panel a{
        text-decoration: none;
        color: black;
    }
  
    .box-panel span:hover{color: #246caf;}
   
    .box-panel{
        width: 150px; height:150px;
        margin: 40px;
        border-radius: 8px;
        background-color: #fdfdfc;
        box-shadow: 0.4px 0.5px 2px 0.5px black;
        text-align: center;
        font-family: test;
        padding-top: 20px;
        transition: 0.5s;
        cursor: pointer;

    }
    .box-panel:hover{background-color: #f8d761;}
    .box-panel i{font-size: 50px; color:#213b4e;}
 .box-panel img{width: 90%;margin: auto; padding-top: 5px;}



 /*=============================================== page my profile ================*/
 .box-profile-1{   clear: both; width: 90%; height: 600px;   margin: auto; margin-top: 130px;
    background-color: #ffffffcb;     box-shadow: 0.4px 0.5px 2px 0.5px black;}
.top-title{text-align: right; width: 100%; height: 100px; border-bottom: 0.2px solid rgb(163, 163, 163);
}
.top-title img{display: inline-block; float: right;}
.top-title span {
    display: inline-block;
    float: right;
    font-family: test;
    padding-top: 15px;
    line-height: 30px;
    font-size: 20px;
    margin-right: 10px;
}
.top-title span p{font-size: 12px;}
.all-box-myprof{width: 100%;}
.all-box-myprof form label{display: block; width: 50%;float: right; text-align: center;margin-top: 20px;
font-family: test;
color: #4e4e4e;
}
.all-box-myprof form input{
    width: 30%;text-align: center;margin: auto; margin-top: 20px;
   float: right;
   margin-right: 10%;
   margin-left: 8%;
    height: 40px;
    font-size: 17px;

    border: none;
    outline-style: solid;
    outline-color: #414141;
    outline-width: thin;
    font-family: test;
}
.all-box-myprof form .in2{width: 78%; margin: auto;margin-top: 20px;   margin-right: 10%;
    margin-left: 2%;}
    .all-box-myprof form input[type="submit"]{

        background-color: #0d4a53;
        color: white;
        clear: both;
        margin: auto;
        margin-top: 40px;
        width: 150px;
        margin-right: 10%;
        cursor: pointer;
        border: none;
        padding: 0;
        outline: none;
       
    }
    .all-box-myprof form input[type="submit"]:hover{
        background-color: #1e7280;
     
    }

    /*========================== box user sm ================*/
    .box-user-sm{width: 130px;height: 70px; background-color: #cbd3d6ee; 
         position: absolute;right: 5px;top: 52.5px;box-shadow: 0.4px 0.5px 3px 0.5px black;
         /* border-radius: 8px; */
         display: none;
         text-align: center;
         padding: 10px;

        }
    .box-user-sm a{text-decoration: none;padding: 5px; font-family: test; color: black;}  
    .box-user-sm form input{
        margin-top: 10px;
        background: none;
        border: none;
        font-family: test;
        font-size: 15px;
        cursor: pointer;
        color: black;
    }  
    .box-user-sm a:hover{color: blue;}
    .box-user-sm form input:hover{
        color: blue;
    }













